@import url("https://fonts.googleapis.com/css?family=Merriweather:200,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Lato:200,300,400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=WindSong:wght@400;500&display=swap');


body, html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #97a579;
    margin: 0;
    padding: 0;
}

div {
    padding:0;
}

p {
    padding:0;
    margin:0;
    font-family: Lato, sans-serif;
    font-weight: bold;
}

.content {

}

.jarallax {
    position:relative;
    z-index:0;
    opacity:0.9;

}

.border{
    content:"";
    background: -webkit-linear-gradient(left, rgb(181, 85, 43) 0%, rgb(149, 87, 44) 12%, rgb(228, 147, 76) 47%, rgb(115, 70, 17) 100%);
    box-sizing:inherit;
    height:2px;
    width: 100%;
    position: relative;
    align-items: center;
    bottom: 0;
}

.jarallax > .jarallax-img {
    position:absolute;
    object-fit: cover;

    top:0;
    left:0;
    width:100vw;
    height:100%;
    z-index:-1;
}

@font-face {
    font-family: 'Darling';
    src: url('fonts/Darling.woff2') format('woff2'),
    url('fonts/Darling.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Content div styles */
.content {
    --b: .5em; /* border width */
    --c: 3em; /* corner size */
    --r: 2em; /* corner rounding */
    position: relative;
    margin: 1em auto;
    border: solid var(--b) transparent;
    padding: 1em;
    max-width: 23em;
    font: 1.25em ubuntu, sans-serif;

    &::before {
        position: absolute;
        z-index: -1;
        inset: calc(-1*var(--b));
        border: inherit;
        border-radius: var(--r);
        background: linear-gradient(#ffffff, #3a5719, #b39371) border-box;
        --corner:
                conic-gradient(from -90deg at var(--c) var(--c), red 25%, #0000 0)
                0 0/ calc(100% - var(--c))  calc(100% - var(--c)) border-box;
        --inner: conic-gradient(red 0 0) padding-box;
        -webkit-mask: var(--corner), var(--inner);
        -webkit-mask-composite: source-out;
        mask: var(--corner) subtract, var(--inner);
        content: ''
    }
}

/* Container Styles */

.container {
    padding: 1vw;
}
.container h1 {
    font-size: 3em;
    margin-bottom: 0.1em;
    margin-top: 0.3em;
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 6px;
    text-align: center;
    font-family: Cormorant Infant, serif;
    color: #2c3c23;
}

.box h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-transform: none;
    letter-spacing: 4px;
    font-weight: 800;
    font-family: Cormorant Infant, serif;
    line-height: 1em;
    color: #f2f2f2;
}

.box p {
    font-size: 1.3em;
    margin-bottom: 1em;
    text-transform: none;
    letter-spacing: 4px;
    font-weight: 600;
    font-family: Windsong, serif;
    line-height: 1em;
    color: #2c3c23;
}

.box p.accent {
    font-size: 1em;
    margin-bottom: 1em;
    text-transform: none;
    letter-spacing: 4px;
    font-weight: 500;
    font-family: Cormorant Infant, serif;
    line-height: 1em;
    color: #2c3c23;
}

.container h1::before {
    content: '─';
    margin-right: 0.6em;
    color: #95572c;
}
.container h1::after {
    content: '─';
    margin-left: 0.6em;
    color: #95572c;
}

.boxes {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.boxes:last-child {
    margin-top: 30px;
}

.box {
    width: 80vw;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 200;
    padding: 0 5vw 5vw;
    border-right: 0;
    border-left: 2px;
    border-style: solid;
    /* 	border-image: linear-gradient(to bottom, #ccc, #555 66%, #181818) 1 100%; */
    border-image: linear-gradient(to bottom, #a3a3a3, #edaa4e, #8a8a8a) 1 100%;
}
.box:last-child {
    border-right: 2px;
}

