
body, html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #97a579;
    margin: 0;
    padding: 0;
}

div {
    padding:0;
}

p {
    padding:0;
    margin:0;
    font-family: Lato, sans-serif;
    font-weight: bold;
}

.cormorant-infant-light {
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: normal;
}

.cormorant-infant-regular {
    font-family: "Cormorant Infant", serif;
    font-weight: 400;
    font-style: normal;
}

.cormorant-infant-medium {
    font-family: "Cormorant Infant", serif;
    font-weight: 500;
    font-style: normal;
}

.cormorant-infant-semibold {
    font-family: "Cormorant Infant", serif;
    font-weight: 600;
    font-style: normal;
}

.cormorant-infant-bold {
    font-family: "Cormorant Infant", serif;
    font-weight: 700;
    font-style: normal;
}

.cormorant-infant-light-italic {
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: italic;
}

.cormorant-infant-regular-italic {
    font-family: "Cormorant Infant", serif;
    font-weight: 400;
    font-style: italic;
}

.cormorant-infant-medium-italic {
    font-family: "Cormorant Infant", serif;
    font-weight: 500;
    font-style: italic;
}

.cormorant-infant-semibold-italic {
    font-family: "Cormorant Infant", serif;
    font-weight: 600;
    font-style: italic;
}

.cormorant-infant-bold-italic {
    font-family: "Cormorant Infant", serif;
    font-weight: 700;
    font-style: italic;
}

.windsong-regular {
    font-family: "WindSong", cursive;
    font-weight: 400;
    font-style: normal;
}

.windsong-medium {
    font-family: "WindSong", cursive;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BlackGold Regular';
    font-style: normal;
    font-weight: normal;
    src: local('BlackGold Regular'), url('../fonts/BlackGold_Personal_use.woff') format('woff');
}



a .a2 {

}

a {
    color: #2c3c23;
    position: relative;
    text-decoration: none;
}

a::before {
    background: hsl(48, 62%, 89%);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.border{
    content:"";
    background: -webkit-linear-gradient(left, rgb(181, 85, 43) 0%, rgb(149, 87, 44) 12%, rgb(228, 147, 76) 47%, rgb(115, 70, 17) 100%);
    box-sizing:inherit;
    height:2px;
    width: 100%;
    position: absolute;
    justify-self:center;
    bottom: 0;
}

.border-small{
    content:"";
    background: -webkit-linear-gradient(left, rgb(181, 85, 43) 0%, rgb(149, 87, 44) 12%, rgb(228, 147, 76) 47%, rgb(115, 70, 17) 100%);
    box-sizing:inherit;
    height:2px;
    width: 100%;
    position: relative;
    left:8vw;
    justify-self:center;
    bottom: 0;
}



/* Container Styles */
.jarallax-wrapper-tall {
    min-height:100vh;
    display:flex;
    justify-content: center;
}

.jarallax-wrapper-short {
    min-height:30vh;
    display:flex;
    justify-content: center;
}

.jarallax {
    position:relative;
    z-index:0;
    opacity:0.9;
    width:100%;
}

.jarallax > .jarallax-img {
    position:absolute;
    object-fit: cover;

    top:0;
    left:0;
    width:100vw;
    height:100%;
    z-index:-1;
}

.content {
    width:100vw;
    max-width:1366px;
    margin: auto;

    border-top:0;
    border-bottom:0;
    border-left: 2px;
    border-right: 2px;
    border-style: solid;
    /* 	border-image: linear-gradient(to bottom, #ccc, #555 66%, #181818) 1 100%; */
    border-image: linear-gradient(to bottom, #734611, #edaa4e, #95572c) 1 100%;
    text-align: center;
}

.wrapper {
    padding: 1vw;
    display:grid;
}

h1 {
    font-size: clamp(1rem, -0.875rem + 7vw, 8.5rem);
    margin-bottom: 0.1em;
    margin-top: 0.75em;
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 6px;
    text-align: center;
    font-family: BlackGold Regular, serif;
    color: #2c3c23;
}

h2 {
    font-size: clamp(1rem, -0.875rem + 7vw, 6rem);
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-transform: none;
    letter-spacing: 4px;
    font-weight: 800;
    font-family: Windsong, serif;
    line-height: 1em;
    color: #f2f2f2;
}

h3 {
    font-size: clamp(1rem, -0.875rem + 8vw, 10rem);
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-transform: none;
    letter-spacing: 4px;
    font-weight: 800;
    font-family: BlackGold Regular, serif;
    line-height: 1em;
    color: #f2f2f2;
    text-align: center;
}

p {
    font-size: clamp(1rem, -0.875rem + 5vw, 4rem);
    margin-top: 1em;
    margin-bottom: 0;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: Helvetica, serif;
    line-height: 1em;
    color: #2c3c23;
}

p.accent {
    font-size: clamp(1rem, -0.875rem + 3vw, 3rem);
    margin-top: 1em;
    margin-bottom: 0;
    text-transform: none;
    letter-spacing: 4px;
    font-weight: 500;
    font-family: Cormorant Infant, serif;
    line-height: 1em;
    color: #2c3c23;
}

p.small {
    font-size: clamp(1rem, -0.875rem + 5vw, 3rem);
    margin-top: 1em;
    margin-bottom: 0;
    text-transform: none;
    letter-spacing: 4px;
    font-weight: 400;
    font-family: Helvetica, serif;
    line-height: 1em;
    color: #2c3c23;
}

p.footer {
    font-size: clamp(1rem, -0.875rem + 5vw, 3.5rem);
    margin-top: .5em;
    margin-bottom: 0;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: BlackGold Regular, serif;
    line-height: 1em;
    color: #2c3c23;
    text-align: center;
}

.box {
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 200;
}

.box2 {
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 200;
    text-align: left;
    padding: 1vw 5vw 3vw 1vw;
    margin-left: 1em;
}

.box3 {
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 200;
    text-align: left;
    padding: 1vw 5vw 3vw 1vw;
    margin-left: 1em;
}

img.icon{
    width: 20%;
}


@media (min-width: 786px)  {

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.25fr .25fr;
        gap: 0px 0px;
        grid-template-areas:
            "box box"
            "box2 box3";
    }

    .box { grid-area: box; }
    .box2 { grid-area: box2; }
    .box3 { grid-area: box3; }

    img.icon{
        width: 70%;
    }

    .jarallax-wrapper-tall {
        height:100vh;
    }

    .jarallax-wrapper-short {
        height:50vh;
    }
}