/* General Styles */
@font-face {
    font-family: Autography;
    src: url("Fonts/Autography.otf") format("opentype");
}

@font-face {
    font-family: Autography;
    font-weight: bold;
    src: url("Fonts/Autography.otf") format("opentype");
}

.bgimg1, .bgimg1-b, .bgimg2, .bgimg3, .bgimg4 {
    position:relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 0.65;
}

.bgimg1 {
    background-image: url("./images/couple.jpg");
    min-height: 100vh;
}

.bgimg1-b {
    background-image: url("./images/Redwoods Photo.png");
    min-height: 30vh;
}

.bgimg2 {
    background-image: url("./images/couple.jpg");
    min-height: 40vh;
}

.bgimg3 {
    background-image: url("./images/venue.jpg");
    min-height: 40vh;
}

.bgimg4 {
    background-image: url("./images/cabins.jpg");
    min-height: 50vh;
}

.separator {
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:1px 1px;
    text-align: justify;
}

.content-green {
    color: white;
    /*background-color: #779069;*/
    background-color: rgb(119, 144, 105, 0.5);
    padding: 50px 80px;
    text-align: justify;
}

.content-tan {
    color: black;
    background-color: #b39371;
    padding: 50px 80px;
    text-align: justify;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: Arial, serif;
    overflow: scroll;

    -webkit-overflow-scrolling: touch;
    background: #4e5e47;
}

.vh100 {
    height: 100vh;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


/* Navigation Bar Styles */
.navbar {
    font-family: Autography, serif;
    overflow: hidden;
    background-color: transparent;
}

/* Navigation Link Styles */
.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 0px 50px;
    text-decoration: none;
    font-size: 5em;
    background-color: transparent;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: #000000;
}

/* Horizontal Divider */
hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #999;
    height: 5px;
}